html, body {
    height: 100%;
    padding: 0;
    margin: 0;
  }
  body {
    display: flex;
    flex-direction: column;
    background-color: #fff;

  }
  .footer 
  {
  
    display :none;
  }
  .image
   {
       display: none;
   }
   
